<div class="container">
    <div class="carousel" *ngIf="carouselItems.length">
        <ng-container *ngFor="let slide of carouselItems; let i = index">
            <figure class="small prev"
                *ngIf="(i-1 === previousSlide  || (i-1 < 0 && previousSlide === carouselItems.length-1)) && carouselItems[previousSlide]">
                <a [href]="carouselItems[previousSlide].link">
                    <img [src]="carouselItems[previousSlide]?.src" [alt]="slide.alt" class="slide small prev"
                        [@slideAnimation]="animationType" />
                    <figcaption class="caption">{{carouselItems[previousSlide]?.caption}}</figcaption>
                </a>
            </figure>
            <figure class="small" *ngIf="i === currentSlide">
                <a [href]="slide?.link">
                    <img [src]="slide.src" [alt]="slide.alt" class="slide small" [@slideAnimation]="animationType" />
                    <figcaption class="caption">{{slide?.caption}}</figcaption>
                </a>
            </figure>

            <figure class="small next"
                *ngIf="(i+1 === nextSlide || (i+1 > carouselItems.length-1 && nextSlide ===0)) && carouselItems[nextSlide]">
                <a [href]="carouselItems[nextSlide]?.link">
                    <img [src]="carouselItems[nextSlide].src" [alt]="slide.alt" class="slide small next"
                        [@slideAnimation]="animationType" />
                    <figcaption class="caption">{{carouselItems[nextSlide]?.caption}}</figcaption>
                </a>
            </figure>

        </ng-container>

        <!-- controls -->
        <button class="control prev" (click)="onPreviousClick()">
            <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="onNextClick()">
            <span class="arrow right"></span>
        </button>
    </div>
</div>