.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #ff9933;
  font-weight: 600;
  z-index: 100;
}

.toolbar div {
  margin: 0 6px;
}

.toolbar a {
  margin: 0 8px;
}

.toolbar a:last-child {
  margin: 0 16px;
}

.toolbar a:hover {
  opacity: 0.8;
}
